.header {
  position: fixed;
  width: 100%;
  height: 65px;
  top: 0;
  left: 0;
  background-color: #782324;
  color: white;
  text-align: center;
  z-index: 1000; 
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  padding: 15px;
  background-color: gold;
}

.header h2 {
  margin: 0;
}

.header-right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.greeting {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
}

.header-profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid gold;
  margin-right: 20px;
}


.logout-button {
  background-color: gold;
  color: #782324;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1001;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border-radius: 10px;
}

.logout-button:hover {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s;
}

.logout-text {
  display: block;
}

.logout-icon {
  display: none;
  font-size: 24px;
}

.logout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100; 
}

.logout-modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #242424;
  font-weight: 500;
}

.logout-modal p {
  margin-bottom: 20px;
}

.yes-modal-button {
  background-color: #782324;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.yes-modal-button:hover{
  background-color: #461516;
}

.no-modal-button {
  background-color: #ffcc00;
  color: #242424;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.no-modal-button:hover{
  background-color: #ffcc00;
}

.logout-modal-button:hover {
  background-color: gold;
  color: #782324;
  transition: background-color 0.3s, color 0.3s;
}

.logout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002; 
}

.logout-modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.logout-modal p {
  margin-bottom: 20px;
}

.yes-modal-button {
  background-color: #782324;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.yes-modal-button:hover {
  background-color: #461516;
}

.no-modal-button {
  background-color: #ffcc00;
  color: #242424;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.no-modal-button:hover {
  background-color: #e6b800;
}

.logout-modal-button:hover {
  background-color: gold;
  color: #782324;
  transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 767px) {
  .header h2 {
    font-size: 17px;
  }

  .logout-text {
    display: none;
  }

  .logout-icon {
    display: block;
  }

  .header-logo {
    display: none;
  }

  .header {
    width: 100%;
  }
  .greeting{
    display: none;
  }
}
