body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: black;
  z-index: -999;
}

.app1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main-content1 {
  display: flex;
  flex: 1;
}

.content1 {
  padding: 20px;
  flex: 1;
  margin-left: 300px;
  margin-top: 50px;
}

.content1 h1 {
  font-size: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.search-bar {
  padding: 8px;
  width: 500px;
  font-size: 16px;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #782324;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.search-button:hover {
  background-color: #5b1a1a;
}

.sort-dropdown {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #ddd;
  border: none;
}

.logo-image2 {
  position: fixed;
  top: 150px;
  right: -100px;
  height: 1000px;
  max-width: 1000px;
  z-index: -1;
  filter: grayscale(100%);
  opacity: 0.2;
}

.container1 {
  background-color: #CBC3C3;
  height: 690px;
  width: 1530px;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  z-index: 999;
}

.requests-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  table-layout: fixed;
}

.mrg-t-v-row{
  text-align: left;
}

.requests-table th, .requests-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.requests-table td {
  font-size: 12px;
}

.requests-table th {
  background-color: #782324;
  color: white;
  font-size: 12px;
  font-weight: bold;
  top: 0;
  position: sticky;
}

.requests-table tbody {
  background-color: white;
}


.no-requests {
  text-align: center;
  padding: 20px;
}

.reason-column {
  max-width: 150px;
  white-space: normal;
  word-break: break-word;
}

@media (max-width: 767px) {
  .content1 {
    margin-left: 10px;
  }
  .container1 {
    width: 530px;
    height: 650px;
  }
  .requests-table th {
    font-size: 7px;
  }
  .requests-table {
    height: 630px;
  }
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-container {
    margin-left: 0;
    width: 100%;
  }
  .search-bar {
    margin-top: 10px;
    width: 100%;
  }
  .search-button {
    width: 10%;
    margin-right: 0;
  }
  .sort-dropdown {
    width: 50%;
  }
}
.mr-status-approved, .mr-status-pending, .mr-status-rejected, .mr-status-completed {
  display: block; 
  margin-bottom: 5px; 
}

.mr-status-approved {
  color: green;
  font-weight: bold;
}

.mr-status-pending {
  color: gold;
  font-weight: bold;
}

.mr-status-rejected {
  color: red;
  font-weight: bold;
}
.mr-status-completed{
  background-color: green;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.resend-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.resend-content {
  background: #c8c1c1;
  border-radius: 8px;
  padding: 50px;
  width: 80%;
  max-width: 1000px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resend-content label {
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;

}

.resend-content input[type="text"],
.resend-content input[type="number"],
.resend-content textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.resend-content textarea {
  resize: vertical;
  min-height: 100px;
}

.resend-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.resend-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.resend-buttons button:nth-child(2) {
  background-color: #782324;
  color: white;
}

.resend-buttons button:nth-child(1) {
  background-color: #ccc;
}
.form-group1 {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
}

.form-field {
  flex: 1;
  min-width: 200px; 
}

.form-field label {
  display: block;
  margin-bottom: 4px;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-actions {
  margin-top: 16px;
  text-align: right;
}

.rejected {
  background-color: yellow; 
}

.requests-table tr.rejected:hover {
  background-color: #5b1a1a; 
  font-weight: normal; 
  color: white;
}

.requests-table tr:hover {
  background-color: #e0dede; 
  font-weight: 500;
  cursor: pointer;
}

.close-button{
  padding: 10px 20px;
  background-color: gold;
  color: rgb(0, 0, 0);
  border: none;
  width: 50%;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  height: 45px;
}

.multiple-vehicle-button {
  position: absolute;
  margin-top: 20px;
  margin-left: 900px;
  background-color: #782324;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.multiple-vehicle-button:hover {
  background-color: #5b1a1a;
}

.rsnd-button{
  background-color: #782324;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  font-size: 18px; 
  border-radius: 5px;
}

.rsnd-button:hover{
  background-color: #5b1a1a;
  transition: background-color 0.3s;
}

.rsnd-cancel-button{
  background-color: #D4AF37;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  font-size: 18px; 
  border-radius: 5px;
}

.rsnd-cancel-button:hover{
  background-color: #ffdc67;
  transition: background-color 0.3s;
}

.response-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.close-mdl {
  background-color: #782324;
  padding: 8px 24px;
  border: none;
  color: white;
  margin-top: 20px; 
  cursor: pointer;
  border-radius: 5px;
}

.success {
  border-color: green;
}

.error {
  border-color: red;
}

.close-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
}
