* {
  font-family: 'Poppins', sans-serif;
}

.user-calendar {
  padding: 30px;
  width: 420px;
  height: 340px;
  background-color: #ddd; 
  border-radius: 15px;
}

.user-calendar-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-calendar-nav button {
  background-color: #f0f0f0;
  border: none;
  padding: 2px 8px;
  cursor: pointer;
  border-radius: 10px;
}

.user-calendar-month {
  font-weight: bold;
  font-size: 16px;
  color: black;
  border-radius: 10px;
  background-color: #ffcc00;
  border: 2px solid black;
  padding: 10px 50px;
}

.user-calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.user-calendar-day-name {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  padding: 8px 10px;
  background-color: #782324;
  color: white;
}

.user-calendar-day {
  text-align: center;
  padding: 8px 10px;
  font-size: 12px;
  background-color: white;
  cursor: pointer;
  transition: opacity 0.3s; 
}

.user-calendar-day.active {
  background-color: #ffcc00;
  border: 4px solid #782324;
  font-weight: bold;
}

.user-calendar-day:hover {
  background-color: #782324;
  transition: background-color 0.3s;
  font-weight: 700;
  color: white;
}

.user-calendar-day.event {
  background-color: red; 
  color: white; 
}

.user-calendar-day.past {
  opacity: 0.3; 
}

.user-calendar-day.highlight {
  background-color: #ffcc00; 
  font-weight: bold;
  color: rgba(0, 0, 0, 0.884);
}

