.side-navbar {
  height: 100%;
  width: 286px;
  position: fixed;
  top: 65px; 
  left: 0;
  background-color: #111;
  padding-top: 20px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 100;
}

.side-navbar.open {
  transform: translateX(0);
}

.side-navbar ul {
  list-style-type: none;
  padding: 0;
}

.side-navbar ul li {
  padding: 10px 16px;
  text-align: left;
}

.side-navbar ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center; /* Ensures icon and text are aligned on the same line */
  padding: 10px;
  border-radius: 10px;
}

.side-navbar ul li a:hover {
  background-color: #575757;
  transition: background-color 0.3s;
}

.side-navbar ul li a.active {
  background-color: #782324;
  font-weight: 800;
  color: gold;
  transition: background-color 0.3s;
}

.notification-badge {
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;  
  top: -1px;  
  position: relative; 
}

@media (min-width: 768px) {
  .side-navbar {
    transform: translateX(0);
  }

  .toggle-button {
    display: none;
  }
}
