:root {
  --primary-color: #782324;
  --secondary-color: gold;
  --background-color: #CBC3C3;
  --light-background: #f4f4f4;
  --text-color: #333;
  --border-radius: 5px;
  --font-family: 'Poppins', sans-serif;
}


.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
}

.main-content {
  display: flex;
  flex: 1;
}

.content {
  padding: 20px;
  flex: 1;
  margin-left: 300px;
  margin-top: 50px;
}

.container {
  display: flex;
}



.vehicle-list,
.another-container {
  background-color: var(--background-color);
  height: 650px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.vehicle-list {
  width: 800px;
  margin-right: 20px;
  overflow-y: auto;
}

.vehicle-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 8px;
  background-color: #fff;
  min-height: 200px; 
}

.another-container {
  width: 480px;
  position: relative;
}

.inner-container {
  padding: 20px;
  background-color: var(--light-background);
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.events-label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
}

.events-list {
  margin-top: 10px;
  background-color: var(--light-background);
  height: 160px;
  border-radius: 8px;
  overflow-y: auto;
}

.event-item {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-container {
  background-color: white;
  padding: 10px;
  border-radius: var(--border-radius);
}

.evnt-title {
  background-color: var(--primary-color);
  color: var(--light-background);
  padding: 5px;
  border-radius: var(--border-radius);
}

.no-events-label {
  font-size: 1.2rem;
  color: #888;
  text-align: center;
}

.vehicle-item {
  background-color: white;
  padding: 10px;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.vehicle-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.vehicle-image {
  width: 300px;
  height: auto;
  margin-right: 20px;
  border-radius: var(--border-radius);
  object-fit: cover;
  border: solid var(--primary-color);
}

.vehicle-text {
  flex: 1;
  margin-top: 20px;
}

.vehicle-text h2 {
  color: var(--primary-color);
  font-size: 26px;
  margin-bottom: 40px;
}

.vehicle-text h2, .vehicle-text p {
  margin: 5px 0;
}

.vehicle-text p {
  font-weight: 800;
  margin-top: 20px;
}

.btn-inline {
  padding: 8px 12px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  transition: background-color 0.3s;
  font-weight: 800;
}

.btn-inline:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.instruction-and-button {
  display: flex;
  align-items: center;
}

.btn-beside-text {
  padding: 8px 18px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 14px;
  margin-left: 170px;
  transition: background-color 0.3s;
  font-weight: 800;
  z-index: 999;
  border: solid var(--primary-color);
}

.btn-beside-text:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: solid var(--secondary-color);
}

.btn-right-corner,
.btn-d {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-right-corner {
  background-color: #782324;
  color: #fff;
}

.btn-right-corner:hover{
  background-color: #57191a;
  transition: background-color 0.3s;
}

.btn-d {
  background-color: #ffc107;
  color: #000;
}

.btn-d:hover{
  background-color: #b98b00;
  transition: background-color 0.3s;
  color: #f4f4f4;
}

.content h1 {
  font-size: 32px;
}

.slider-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 10px;
}

.prev-button, .next-button {
  padding: 10px 13px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.prev-button:hover, .next-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn-right-corner.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-right-corner:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.user-button-group {
  display: flex;
  gap: 10px;
  margin-top: -25px;
  align-self: flex-end; 
  margin-right: 10px;
}

.user-btn-inline {
  padding: 8px 12px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  font-weight: 800;
}

.user-btn-inline:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.user-calendar-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


@media (max-width: 767px) {
  .content {
    margin-left: 0;
    padding-top: 60px;
  }
  .vehicle-list {
    height: 800px;
    width: 100%; 
    margin-left: 40px;
    max-width: 1000px; 
  }
  .vehicle-image {
    width: 120px;
  }
  .vehicle-text p {
    font-size: 14px;
  }
  .vehicle-text h2 {
    font-size: 18px;
  }
  .btn-right-corner {
    padding: 10px 10px;
    margin-left: 55px;
    font-size: 12px;
  }
  .btn-beside-text {
    font-size: 14px;
    width: 200px;
    height: 60px;
  }
  .container {
    flex-direction: column; 
    align-items: center;
    height: 1000px; 
  }
  .another-container {
    margin-top: 20px;
    width: 100%;
    max-width: 700px; 
  }
}

.logo-image1 {
  position: fixed;
  top: 150px;
  right: -100px;
  height: 1000px;
  max-width: 1000px;
  z-index: 1;
  filter: grayscale(100%);
  opacity: 0.2;
}
