.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    text-align: center;
    position: relative;
  }
  
  .error-image {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 500px; 
    height: auto;
  }
  
  .error-code {
    font-size: 10rem;
    margin: 0;
    color: #343a40;
  }
  
  .error-message {
    font-size: 1.5rem;
    margin: 20px 0;
    color: #6c757d;
  }
  
  .error-link {
    padding: 10px 20px;
    background-color: #782324;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .error-link:hover {
    background-color: #5b1a1a;
  }
  