.homepage-container {
    background-image: url('../Images/homebg.png'); 
    background-size: cover;  
    background-attachment: fixed;  
    background-position: center;  
    background-repeat: no-repeat;  
    min-height: 100vh;
    width: 100%;
}

.homepage-header {
    background-color: white;
    padding: 20px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000; 
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.homepage-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-logo {
    width: 350px; 
}

.home-nav-links {
    list-style-type: none;
    display: flex;
    gap: 60px;
    align-items: center;
    margin-right: 100px;
    cursor: pointer;
}

.home-nav-links li a {
    color: rgb(18, 18, 18);
    text-decoration: none;
    font-size: 18px;
    transition: font-weight 0.3s;
}

.home-nav-links li a:hover {
    color: #782324;
    font-weight: 700;
}
.home-nav-links li a.active {
    color: #333; 
    font-weight: 700;
}

.get-started {
    background-color: #782324;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.get-started:hover {
    background-color: #5b1a1a;
}

.admin-route{
    font-weight: 400; 
    color: inherit;
    padding: 5px 10px;
    border: 2px solid transparent; 
    transition: all 0.3s ease-in-out;
}

.admin-route:hover{
    font-weight: 700; 
    color: #782324; 
    border-color: #D4AF37;
    box-shadow: 0 0 5px #D4AF37, 0 0 10px #D4AF37, 0 0 15px #D4AF37; 
}

.mobile-menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu-icon .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px;
}

.home-label{
    align-items: center;
    text-align: center;
    font-size: 42px;
    font-weight: 600;
}

.home-services p{
    align-items: center;
    text-align: center;
    font-size: 38px;
    margin-top: 100px;
    font-weight: 600;
}

.service-label p{
    align-items: center;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    margin-top: 30px;
}

.home-reserve-btn{
    padding: 10px 30px;
    background-color: #782324;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 28px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    font-weight: 800;
    transition: background-color 0.3s;
}

.home-reserve-btn:hover{
    background-color: #5b1a1a;
    color: gold;
}

@media (max-width: 767px) {
    .home-nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: white;
        align-items: center;
        padding: 20px;

    }

    .home-nav-links.open {
        display: flex;
    }

    .home-nav-links li {
        margin: 10px 0;
    }

    .home-logo {
        width: 300px; 
    }
    .home-label p{
        font-size: 32px;
    }

    .mobile-menu-icon {
        display: flex;
        margin-right: 50px;
    }
    .service-box.maroon, .service-box.gold {
        width: 60% !important; 
        margin: 10px 0 !important; 
        font-size: 20px;
    }

    .service-icon {
        width: 50%;
    }
    .main-image {
        width: 100%;
        height: auto;
    }
    .homepage-container {
        background-image: url('../Images/ut.png');
        background-size: cover;
        background-position: center;
    }   
    .carousel-label p{
        font-size: 24px;
    }
    .main-image-container {
        margin-top: 100px;
    }

}
.main-image-container {
    text-align: center;
}

.main-image {
    width: 100%;
    max-width: 1925px; 
    height: auto;
    border-radius: 10px; 
}
.home-services {
    padding: 20px;
    text-align: center;
}

.service-label {
    margin-bottom: 20px;
}


.home-services {
    text-align: center;
    margin-top: 30px;
}

.service-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.service-box {
    width: 80%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.service-box.maroon {
    background-color: #782324; 
    width: 35%;
    margin-right: 300px;
}

.service-box.gold {
    background-color: #D4AF37; 
    width: 35%;
    margin-left: 300px;
}

.service-box span {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.about-label{
    text-align: center;
    font-size: 38px;
    margin-top: 100px;
}
.carousel-label{
    font-size: 28px;
    text-align: center;
}
.carousel {
    position: relative;
    max-width: 70%; 
    margin: auto;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    flex: 0 0 100%; 
    box-sizing: border-box; 
}

.carousel-image {
    width: 100%;
    height: auto;
    max-height: 800px; 
    object-fit: cover; 
    border-radius: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-button.prev {
    left: 10px; 
}

.carousel-button.next {
    right: 10px;
}

.carousel-indicators {
    text-align: center;
    margin-top: 10px;
}

.carousel-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicator.active {
    background-color: #782324;
}

.about-us {
    align-items: center;
    text-align: center;
    font-size: 38px;
    max-width: 1400px;
    margin: 40px auto;
}

.about-us2 p {
    align-items: center;
    text-align: center;
    font-size: 28px;
}

.about-us-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 30px;
    padding: 10px;
}

.grid-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: #222222;
    height: 500px;
}

.grid-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.grid-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.grid-box:hover img {
    transform: scale(1.05);
    opacity: 0.8;
}

.image-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    opacity: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease-in-out;
}

.grid-box:hover .image-name {
    opacity: 1;
}


.custom-footer {
    background-color: white; 
    color: #333; 
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .footer-logo img {
    max-width: 300px;
  }
  
  .footer-nav p{
    font-weight: 700;
  }
  
  .footer-nav ul li a:hover {
    color: #007bff; 
  }
  
  .footer-social a {
    margin: 0 10px;
  }
  
  .footer-social img {
    max-width: 25px;
  }
  
  .footer-bottom {
    padding-top: 10px;
    font-size: 14px;

  }
  
  .footer-bottom p {
    margin: 0;
  }

  .scroll-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-section.visible {
    opacity: 1;
    transform: translateY(0);
}



  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  
    .footer-nav ul li {
      display: block;
      margin: 10px 0;
    }
  
    .footer-social {
      margin-top: 20px;
    }
  }
  
  