

.homepage-container {
    background-image: url('../Images/homebg.png'); 
    background-size: cover;  
    background-attachment: fixed;  
    background-position: center;  
    background-repeat: no-repeat;  
    min-height: 100vh;
    width: 100%;
    
}


.homepage-header {
    background-color: white;
    padding: 20px;
    display: fixed;
    justify-content: space-between; 
    align-items: center;
}

.homepage-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-logo {
    width: 350px; 
}

.home-nav-links {
    list-style-type: none;
    display: flex;
    gap: 60px;
    align-items: center;
}

.home-nav-links li a {
    color: rgb(18, 18, 18);
    text-decoration: none;
    font-size: 18px;
    transition: font-weight 0.3s;
}

.home-nav-links li a:hover {
    color: #782324;
    font-weight: 700;
}

.get-started {
    background-color: #782324;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.get-started:hover {
    background-color: #5b1a1a;
}


.mobile-menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu-icon .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px;
}
.home-label{
    align-items: center;
    text-align: center;
    font-size: 42px;
}
.home-services p{
    align-items: center;
    text-align: center;
    font-size: 38px;
    margin-top: 100px;
}
.service-label p{
    align-items: center;
    text-align: center;
    font-size: 28px;
    margin-top: 30px;
}
.home-reserve-btn{
    padding: 8px 20px;
    background-color: #782324;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 28px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    font-weight: 800;
    transition: background-color 0.3s;
}
.home-reserve-btn:hover{
    background-color: #5b1a1a;
    color: gold;
}

@media (max-width: 767px) {
    .home-nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: white;
        align-items: center;
        padding: 20px;
    }

    .home-nav-links.open {
        display: flex;
    }

    .home-nav-links li {
        margin: 10px 0;
    }

    .home-logo {
        width: 300px; 
    }

    .mobile-menu-icon {
        display: flex;
    }
    .main-image{
       width: 50%;
    }
}
.main-image-container {
    text-align: center;
}

.main-image {
    width: 100%;
    max-width: 1925px; 
    height: 710px;
    border-radius: 10px; 
}
.home-services {
    padding: 20px;
    text-align: center;
}

.service-label {
    margin-bottom: 20px;
}


.home-services {
    text-align: center;
    margin-top: 30px;
}

.service-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.service-box {
    width: 80%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.service-box.maroon {
    background-color: #782324; 
    width: 35%;
    margin-right: 300px;
}

.service-box.gold {
    background-color: #D4AF37; 
    width: 35%;
    margin-left: 300px;
}

.service-box span {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.about-label{
    text-align: center;
    font-size: 38px;
    margin-top: 100px;
}