*{
  font-family: 'Poppins', sans-serif;
 }

.opc-calendar {
  padding: 30px;
  width: 450px;
  background-color: #ddd; 
  border-radius: 15px;
}
  
.opc-calendar-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.opc-calendar-nav button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.opc-calendar-month {
  font-weight: bold;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  background-color: #ffcc00;
  border: 2px solid black;
  padding: 10px 50px;
}

.opc-calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.opc-calendar-day-name{
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  background-color: #782324;
  color: white;
}
.opc-calendar-day{
  text-align: center;
  padding: 5px;
  padding: 10px;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
}

.opc-calendar-day.active {
  background-color: #782324;
  color: #f0f0f0;
  font-weight: bold;
}

.opc-calendar-day:hover{
  background-color:  #782324;
  transition: background-color 0.3s;
  font-weight: 700;
  color: white

}
.calendar-events-content{
  background-color: white;
  height: 210px;
  border-radius: 10px;
  overflow-y: auto;
}

.event-item{
  cursor: pointer;
  background-color: #ddd;
  color: black;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  

}

.event-item:hover{
  background-color: #ffcc00;
  color: #782324;
  transition: background-color 0.3s;
}

.event-description{
  background-color: white;
  color: rgb(33, 33, 33);
  border-radius: 8px;
  padding: 10px;
}

.details{
 padding: 10px;
}

.previous{
  font-weight: 900;
}
.next{
  font-weight: 900;
}
.previous:hover{
  background-color: #782324;
  transition: background-color 0.3s;
  color: #ffcc00;
}
.next:hover{
  background-color: #782324;
  transition: background-color 0.3s;
  color: #ffcc00;
}
.calendar-day.past {
  opacity: 0.5;
}

.opc-calendar-day.highlighted {
  background-color: #ffcc00; 
  font-weight: bold;
}