body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: black;
  z-index: -999;
}

.opc1 {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.opc-request-content1 {
  display: flex;
  flex: 1;
  padding: 20px;
  flex: 1;
  margin-left: 300px;
  margin-top: 50px;
}

.opc-request-content1 h1 {
  font-size: 32px;
}

.opc-request-container1 {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin-bottom: 20px;
  background-color: #CBC3C3;
  height: 710px;
  width: 1550px;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-right: 20px;
  margin-top: -21px;
  z-index: 999;
}

.table-container {
  height: 670px; 
  width: 1530px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10px;
  background-color: white;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 20px; 
}

.search-bar {
  padding: 8px;
  width: 500px;
  font-size: 16px;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px; 
}

.search-button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #782324;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; 
}

.search-button:hover {
  background-color: #5b1a1a;
}

.sort-dropdown {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #ddd;
  border: none;
}

.opc-request-logo-image {
  position: fixed;
  top: 150px;
  right: -100px;
  height: 1000px;
  max-width: 1000px;
  z-index: -1;
  filter: grayscale(100%);
  opacity: 0.2;
}

.opc-requests-table {
  width: 1510px;
  border-collapse: collapse;
  background-color: white;
}

.opc-requests-table th, .opc-requests-table td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

.opc-department-column {
  width: 50px; 
}

.opc-vehicle-column{
  width: 100px;
}

.opc-requestor-column{
  width: 40px;
}

.opc-action-column{
  width: 40px;
}

.opc-transac-column{
  width: 50px;
}

.opc-added-column{
  width: 100px;
}

.opc-tot-column{
  width: 45px;
}

.opc-location-column{
  width: 70px;
}

.opc-cap-column{
  width: 40px;
}

.opc-time-column{
  width: 60px;
}

.opc-status-column{
  width: 70px;
}

.opc-schedule-column{
  width: 90px;
}

.opc-requests-table td{
  font-size: 13px;
}

.opc-requests-table th {
  background-color: #ddd;
  color: black;
  font-size: 12px;
  font-weight: bolder;
  position: sticky;
  top: 0;
}

.opc-requests-table tbody {
  background-color: white;
}


.no-requests {
  text-align: center;
  padding: 20px;
  color: #782324;
  font-weight: 600;
}

.status-pending {
  color: rgb(255, 145, 0);
  font-weight: 800;
}

.status-approved {
  color: green;
  font-weight: 800;
}

.status-rejected {
  color: red;
  font-weight: 800;
}

.status-approved {
  color: green;
  font-weight: 800;
}

.opc-action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}

.opc-approve-button, .opc-reject-button, .opc-view-file-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  transition: background-color 0.3s;
}

.opc-approve-button {
  background-color: #2a612c;  
  color: white;
}

.opc-approve-button:hover{
  background-color: #4CAF50;
}

.opc-reject-button{
  background-color: #972b24;
  color: white;
}

.opc-reject-button:hover {
  background-color: #f44336;
}

.opc-view-file-button {
  background-color: gold;
  color: black;
}

.opc-view-file-button:disabled {
  cursor: not-allowed;
  opacity: 0.6; 
}


.opc-view-file-button:hover {
  background-color: rgb(253, 224, 58);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-buttons {
  margin-top: 20px;
}

.modal-accept-button {
  background: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-close-button {
  background: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.feedback-input {
  width: 320px;
  padding: 10px;
}

.opc-requests-table .opc-reason-column {
  max-width: 20px; 
  white-space: normal; 
  word-break: break-word; 
}

.opc-reason-column th {
  width: 100px; 
}

.generate-report-button{
  background-color: rgb(1, 87, 1);
  color: white;
  padding: 10px; 
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}
.generate-report-button:hover{
  background-color: #4CAF50;
  transition: background-color 0.3s;
}

.selected-row {
  background-color: #4CAF50; 
  color: white;
}

.status-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.status-text {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px; 
  align-items: center;
  text-align: center;
}

.normal-request-badge {
  background-color: #add8e6; 
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
}

.vip-request-badge {
  background-color: #ffcc00; 
  color: #000; 
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
}

.normal-header-request-badge {
  background-color: #add8e6;
  color: blue;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 30px;
}

.vip-header-request-badge {
  background-color: #ffcc00;
  color: 000;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 50px;
}

.highlight-vip {
  background-color: #fbe53f7a; 
  color: #000; 
}

.highlight-ccs {
  background-color: white; 
  color: #000; 
}


.default-highlight {
  background-color: #f9f9f9; 
  color: #000; 
}

.high-priority-badge {
  display: flex;
  align-items: center; 
  background-color: #ffcc00; 
  color: #782324;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
}

.high-priority-badge svg {
  margin-right: 5px; 
}

.highlight-vehicle-conflict {
  background-color: lightcoral; 
}

.highlight-duplicate-return-schedule {
  background-color: lightcoral; 
}

.conflict-status {
  color: yellow; 
}

@media (max-width: 767px) {
  .opc-request-content1 {
      margin-left: 10px;
  }
  .opc-request-container1 {
      width: 530px;
      height: 650px;
  }
  .opc-requests-table th {
      font-size: 7px;
  }
  .opc-requests-table {
      width: 100%;
  }
  .header-container {
      flex-direction: column;
      align-items: flex-start;
  }
  .search-container {
      margin-left: 0; 
      width: 100%;
  }
  .search-bar {
      margin-top: 10px;
      width: 100%; 
  }
  .search-button {
      width: 10%;
      margin-right: 0; 
  }
  .sort-dropdown {
      width: 50%;
  }
}
