body, html {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: black;
    z-index: -999;
  }
  
  .app2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content2 {
    display: flex;
    flex: 1;
  }
  
  .content2 {
    padding: 20px;
    flex: 1;
    margin-left: 300px;
    margin-top: 50px;
  }
  
  .content2 h1 {
    font-size: 32px;
  }
  
  .logo-image3 {
    position: fixed;
    top: 150px;
    right: -100px;
    height: 1000px;
    max-width: 1000px;
    z-index: -1;
    filter: grayscale(100%);
    opacity: 0.2;
  }
  
  .container2 {
    background-color: #CBC3C3;
    height: 710px;
    width: 900px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    overflow-y: auto;
    z-index: 999;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 10px 140px;
    cursor: pointer;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .tab.active {
    background-color: #782324;
    color: white;
    font-weight: 800;
  }
  
  .tab-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  
  }
  
  .password-form .form-group {
    margin-bottom: 20px;
  }
  .password-form{
    margin-top: 30px;
  }
  
  .password-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .password-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password-form button {
    padding: 10px 20px;
    background-color: #782324;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .password-form button:hover {
    background-color: #641e1e;
  }
  
  @media (max-width: 767px) {
    .content2 {
        margin-left: 10px;
    }
    .container2 {
        width: 530px;
        height: 650px;
    }
    .tab{
      padding: 10px 40px;
    }
  }
  
  .opc-password-requirements{
    font-size: 15px;
    text-align: left;
  }
  
  .opc-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .opc-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    position: relative;
  }
  
  .opc-modal-content h2 {
    margin-bottom: 10px;
  }
  
  .opc-modal-content p {
    margin-bottom: 20px;
  }
  
  .opc-modal-content button {
    padding: 10px 20px;
    background: #782324;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  .opc-modal-content button:hover {
    background: #a53b3e;
    transform: scale(1.05);
  }
  
  .opc-modal-content button:focus {
    outline: none;
    box-shadow: 0 0 5px #a53b3e;
  }
  
  .opc-modal-content button:active {
    background: #5b1b1e;
    transform: scale(0.95);
  }