body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: black;
  z-index: -999;
}

.head1 {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.head-content1 {
  display: flex;
  flex: 1;
}

.head-content1 {
  padding: 20px;
  flex: 1;
  margin-left: 300px;
  margin-top: 50px;
}

.head-content1 h1 {
  font-size: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin-bottom: 20px; 
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 20px; 
}

.search-bar {
  padding: 8px;
  width: 500px;
  font-size: 16px;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px; 
}

.search-button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #782324;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; 
}

.search-button:hover {
  background-color: #5b1a1a;
}

.sort-dropdown {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #ddd;
  border: none;
}

.head-logo-image {
  position: fixed;
  top: 150px;
  right: -100px;
  height: 1000px;
  max-width: 1000px;
  z-index: -1;
  filter: grayscale(100%);
  opacity: 0.2;
}

.head-container1 {
  background-color: #CBC3C3;
  height: 690px;
  width: 1500px;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  z-index: 999;
  overflow: hidden; 
}

.head-requests-table {
  width: 100%; 
  table-layout: fixed; 
  border-collapse: collapse; 
}



.head-requests-table tbody {
  display: block;
  max-height: 630px;
  width: 100%;
}

.head-requests-table th,
.head-requests-table td {
  padding: 10px; 
  text-align: left;
  border: 1px solid #ccc; 
  word-wrap: break-word;
  text-align: center;
}

.head-requests-table th {
  background-color: #ddd;
  color: black;
  font-size: 12px;
  font-weight: 500;
  position: sticky; 
  top: 0;
  z-index: 2; 
}

.head-requests-table td {
  background-color: white;
}

.head-requests-table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  font-size: 14px;
}

.head-requests-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


.no-requests {
  text-align: center;
  padding: 20px;
}

.head-table-container {
  height: 670px; 
  overflow-y: auto;
  background-color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 400px;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.head-action-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

.approve-button, .reject-button, .view-file-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  transition: background-color 0.3s;
}

.approve-button {
  background-color: #2a612c;  
  color: white;
}

.approve-button:hover{
  background-color: #4CAF50;
}

.reject-button{
  background-color: #972b24;
  color: white;
}

.reject-button:hover {
  background-color: #f44336;
}

.view-file-button {
  background-color: gold;
  color: black;
}

.view-file-button:hover {
  background-color: rgb(253, 224, 58);
}

.head-requests-table th:nth-child(5),
.head-requests-table td:nth-child(5) {
  width: 100px; 
}

.head-requests-table th:nth-child(8),
.head-requests-table td:nth-child(8) {
  width: 100px; 
}


.head-requests-table th:nth-child(9),
.head-requests-table td:nth-child(9) {
  width: 100px; 
}

.head-requests-table th:nth-child(11),
.head-requests-table td:nth-child(11) {
  width: 150px; 
}

@media (max-width: 767px) {
  .content1 {
    margin-left: 10px;
  }
  .head-container1 {
    width: 530px;
    height: 650px;
  }
  .head-requests-table th {
    font-size: 7px;
  }
  .head-requests-table {
    height: 630px;
  }
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-container {
    margin-left: 0; 
    width: 100%;
  }
  .search-bar {
    margin-top: 10px;
    width: 100%;
  }
  .search-button {
    width: 10%;
    margin-right: 0; 
  }
  .sort-dropdown {
    width: 50%;
  }
}
